<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref='main.home'>
        <span class="glyphicon glyphicon-home"></span> BagOfOOd
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref='main.home'>Home</a></li>
        <li><a ui-sref='main.foodlist({type: "all"})'>All FoodList</a></li>
        <li><a ui-sref='main.foodlist({type: "mine"})'>My FoodList</a></li>
        <!--<li><a ui-sref='main.product'>Product</a></li>-->
        <li><a ui-sref='main.home'>About</a></li>
        <li><a ui-sref='main.home'>Contact</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!vm.user"><form method="get" action="/auth/facebook"><button class="btn btn-primary" type="submit">Log in with FB</button></form></li>
        <!--<li><button class="btn btn-primary" ng-click="vm.openModalForSignIn()">Log in</button></li>-->
        <!--<li><button class="btn btn-primary" ng-click="vm.openModalForSignUp()">Sign up</button></li>-->
        <!--<li><button class="btn btn-primary" ng-click="vm.logOut()">Log out</button></li>-->
        <li ng-if="vm.user">{{vm.user.userName}}</li>
      </ul>
    </div>
  </div>
</nav>
