<div class="row">
  <div class="panel panel-default">

    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left">Item lists</h4>
      <button ng-click="addItem()" class="btn btn-default pull-right">Add a new item</button>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table ng-table="itemTable" class="table table-condensed row-border table-hover">
          <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Energy for 100g</th>
            <th>Weight</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="item in $data">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.category}}</td>
            <td>{{item.energyFor100}}</td>
            <td>{{item.weight}}</td>
            <td>
              <button ng-click="addItem(item)" type="button" class="edit btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button ng-click="removeItem(item)" type="button" class="remove btn btn-default btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


