<!--Navigation buttons-->
<div class="row">
  <label><h4 class="title-list">{{vm.foodList.name}}</h4></label>

  <div class="pull-right">
      <label class="btn btn-primary" ng-model="vm.radioViewTypeSelection" btn-radio="0" ui-sref='main.itemslist.description' tooltip="Description">
      <span class="fa fa-tags" aria-hidden="true"></span>
    </label>
    <label class="btn btn-primary" ng-model="vm.radioViewTypeSelection" btn-radio="1" ui-sref='main.itemslist.statisticsCharHisto' tooltip="Statistics histogram chart">
      <span class="fa fa-signal" aria-hidden="true"></span>
    </label>
    <label class="btn btn-primary" ng-model="vm.radioViewTypeSelection" btn-radio="2" ui-sref='main.itemslist.statisticsChartPie' tooltip="Statistics pie chart">
      <span class="fa fa-adjust" aria-hidden="true"></span>
    </label>
    <label class="btn btn-primary" ng-model="vm.radioViewTypeSelection" btn-radio="3" ui-sref='main.itemslist.statisticsTable' tooltip="Statistics table">
      <span class="fa fa-list-alt" aria-hidden="true"></span>
    </label>
  </div>
</div>

<!--Foodlist caracteristics-->
<div class="row">
  <div ui-view></div>
</div>
