<div class="container">

  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Node Authentication</h1>

    <p>Login or Register with:</p>

    <!--<span ng-click="vm.connectOnFacebook()" class="btn btn-primary fa fa-facebook">Facebook</span>-->
    <form action="http://localhost:8080/signin/facebook" method="POST">
      <p>
        <button type="submit">Facebook</button>
      </p>
    </form>

    <button ng-click="vm.connectOnFacebook()" >connectOnFacebook</button>

    <div ng-show="authenticated">
      <p>OK</p>
    </div>
    <div  ng-show="!authenticated">
      <p>NOK</p>
    </div>

  </div>

</div>
