<!-- Modal -->
<!--Header-->
<div class="modal-header">
  <button type="button" class="close " ng-click="close()">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h4 class="modal-title">Product</h4>
</div>

<!--Body-->
<div class="modal-body">
  <form name="addNewFoodListForm" class="form-horizontal" role="form">
    <div class="modal-body">

      <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
          <th>Désignation</th>
          <th>Valeur</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-show="seeAllDetails" >
          <td>ORIGGPCD</td>
          <td ng-bind="product.origgpcd"></td>
        </tr>
        <tr>
          <td>ORIGGPFR</td>
          <td ng-bind="product.origgpfr"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>ORIGFDCD</td>
          <td ng-bind="product.origfdcd"></td>
        </tr>
        <tr>
          <td>ORIGFDNM</td>
          <td ng-bind="product.origfdnm"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Sodium (mg/100g)</td>
          <td ng-bind="product.sodium_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Magnésium (mg/100g)</td>
          <td ng-bind="product.magnesium_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Phosphore (mg/100g)</td>
          <td ng-bind="product.phosphore_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Potassium (mg/100g)</td>
          <td ng-bind="product.potassium_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Calcium (mg/100g)</td>
          <td ng-bind="product.calcium_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Manganèse (mg/100g)</td>
          <td ng-bind="product.manganese_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Fer (mg/100g)</td>
          <td ng-bind="product.fer_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Cuivre (mg/100g)</td>
          <td ng-bind="product.cuivre_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Zinc (mg/100g)</td>
          <td ng-bind="product.zinc_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Sélénium (ug/100g)</td>
          <td ng-bind="product.selenium_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Iode (µg/100g)</td>
          <td ng-bind="product.iode_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Protéines (g/100g)</td>
          <td ng-bind="product.proteines_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Protéines brutes, N x 6_25 (g/100g)</td>
          <td ng-bind="product.proteines_brutes_n_x_6_25_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Glucides (g/100g)</td>
          <td ng-bind="product.glucides_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Sucres (g/100g)</td>
          <td ng-bind="product.sucres_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Energie, Règlement UE 1169/2011 (kJ/100g)</td>
          <td ng-bind="product.energie_reglement_ue_1169_2011_kj_100g"></td>
        </tr>
        <tr>
          <td>Energie, Règlement UE 1169/2011 (kcal/100g)</td>
          <td ng-bind="product.energie_reglement_ue_1169_2011_kcal_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Amidon (g/100g)</td>
          <td ng-bind="product.amidon_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Energie, N x facteur Jones, avec fibres (kJ/100g)</td>
          <td ng-bind="product.energie_n_x_facteur_jones_avec_fibres_kj_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Energie, N x facteur Jones, avec fibres (kcal/100g)</td>
          <td ng-bind="product.energie_n_x_facteur_jones_avec_fibres_kcal_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Polyols totaux (g/100g)</td>
          <td ng-bind="product.polyols_totaux_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Fibres (g/100g)</td>
          <td ng-bind="product.fibres_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Eau (g/100g)</td>
          <td ng-bind="product.eau_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Lipides (g/100g)</td>
          <td ng-bind="product.lipides_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG saturés (g/100g)</td>
          <td ng-bind="product.ag_satures_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG monoinsaturés (g/100g)</td>
          <td ng-bind="product.ag_monoinsatures_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG polyinsaturés (g/100g)</td>
          <td ng-bind="product.ag_polyinsatures_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 4:0, butyrique (g/100g)</td>
          <td ng-bind="product.ag_4_0_butyrique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 6:0, caproïque (g/100g)</td>
          <td ng-bind="product.ag_6_0_caproique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 8:0, caprylique (g/100g)</td>
          <td ng-bind="product.ag_8_0_caprylique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 10:0, caprique (g/100g)</td>
          <td ng-bind="product.ag_10_0_caprique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 12:0, laurique (g/100g)</td>
          <td ng-bind="product.ag_12_0_laurique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 14:0, myristique (g/100g)</td>
          <td ng-bind="product.ag_14_0_myristique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 16:0, palmitique (g/100g)</td>
          <td ng-bind="product.ag_16_0_palmitique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 18:0, stéarique (g/100g)</td>
          <td ng-bind="product.ag_18_0_stearique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 18:1 9c (n-9), oléique (g/100g)</td>
          <td ng-bind="product.ag_18_1_9c_n_9_oleique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 18:2 9c,12c (n-6), linoléique (g/100g)</td>
          <td ng-bind="product.ag_18_2_9c_12c_n_6_linoleique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 18:3 c9,c12,c15 (n-3), alpha-linolénique (g/100g)</td>
          <td ng-bind="product.ag_18_3_c9_c12_c15_n_3_alpha_linolenique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 20:4 5c,8c,11c,14c (n-6), arachidonique (g/100g)</td>
          <td ng-bind="product.ag_20_4_5c_8c_11c_14c_n_6_arachidonique_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 20:5 5c,8c,11c,14c,17c (n-3), EPA (g/100g)</td>
          <td ng-bind="product.ag_20_5_5c_8c_11c_14c_17c_n_3_epa_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>AG 22:6 4c,7c,10c,13c,16c,19c (n-3), DHA (g/100g)</td>
          <td ng-bind="product.ag_22_6_4c_7c_10c_13c_16c_19c_n_3_dha_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Rétinol (µg/100g)</td>
          <td ng-bind="product.retinol_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Beta-Carotène (µg/100g)</td>
          <td ng-bind="product.beta_carotene_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine D (µg/100g)</td>
          <td ng-bind="product.vitamine_d_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine E (mg/100g)</td>
          <td ng-bind="product.vitamine_e_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine K (µg/100g)</td>
          <td ng-bind="product.vitamine_k_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine C (mg/100g)</td>
          <td ng-bind="product.vitamine_c_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B1 ou Thiamine (mg/100g)</td>
          <td ng-bind="product.vitamine_b1_ou_thiamine_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B2 ou Riboflavine (mg/100g)</td>
          <td ng-bind="product.vitamine_b2_ou_riboflavine_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B3 ou PP ou Niacine (mg/100g)</td>
          <td ng-bind="product.vitamine_b3_ou_pp_ou_niacine_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B5 ou Acide pantothénique (mg/100g)</td>
          <td ng-bind="product.vitamine_b5_ou_acide_pantothenique_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B6 (mg/100g)</td>
          <td ng-bind="product.vitamine_b6_mg_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B12 (µg/100g)</td>
          <td ng-bind="product.vitamine_b12_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Vitamine B9 ou Folates totaux (µg/100g)</td>
          <td ng-bind="product.vitamine_b9_ou_folates_totaux_ug_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Alcool (g/100g)</td>
          <td ng-bind="product.alcool_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Acides organiques (g/100g)</td>
          <td ng-bind="product.acides_organiques_g_100g"></td>
        </tr>
        <tr ng-show="seeAllDetails" >
          <td>Cholestérol (mg/100g)</td>
          <td ng-bind="product.cholesterol_mg_100g"></td>
        </tr>
        </tbody>
      </table>

    </div>
  </form>
</div>

<!--Footer-->
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="select()">Select this product</button>
  <button type="button" class="btn" ng-click="close()">Close</button>
</div>


