.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// Perso
.error {
  color: #a94442;
}

// Ng table override
.ng-table th {
  text-align: left;
}

.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
  background-color: inherit;
}

// Click cursor on foodlist rox
.foodListRowClick {
  cursor: pointer;
}

.twelvePercentWidthRow {
  width: 12%;
}

.v-middle > tbody > tr > td {
  vertical-align: middle;
}

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
