<div class=row>
  <h4>Items</h4>

  <!-- Search product Ciqual 2012 input -->
  <div class="container">
    <form role="form" ng-submit="productTable.reload()">
      <div class="row">
        <div class="input-group">
          <input type="text" ng-model="productCiqual2012" placeholder="Product name" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Search from Ciqual 2012">
        </span>
        </div>
        <div ng-show="totalProductsFound > 0">{{totalProductsFound}} product(s) found</div>
        <div ng-show="totalProductsFound === 0">No product found</div>
      </div>
    </form>
    <br>

    <!-- Products Ciqual 2012 list -->
    <div class="table-responsive" ng-show="totalProductsFound > 0">
      <table ng-table="productTable" class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>Groupe d'aliment (ORIGGPFR)</th>
          <th>Aliment (ORIGFDNM)</th>
          <th>Energie (kcal/100g)</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="productCiqual2012 in $data" ng-click="openModalForDetailProduct(productCiqual2012)">
          <td>{{productCiqual2012.origgpfr}}</td>
          <td>{{productCiqual2012.origfdnm}}</td>
          <td>{{productCiqual2012.energie_reglement_ue_1169_2011_kcal_100g}}</td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>


  <div>
    <form name="addItemForm" class="form-horizontal" role="form">

      <!--Name-->
      <div class="form-group name">
        <label class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10" ng-class="{'has-error': addItemForm.name.$invalid && addItemForm.name.$dirty}">

          <input name="name" type="text" class="form-control" placeholder="Name" ng-model="::item.name" required readonly>

          <div ng-messages="addItemForm.name.$error" ng-if='addItemForm.name.$dirty' class="error">
            <div ng-message="required" >Name is required</div>
          </div>

        </div>
      </div>

      <!--Energy for 100g-->
      <div class="form-group energyFor100">
        <label class="col-sm-2 control-label">Energy for 100g</label>

        <div class="col-sm-10" ng-class="{'has-error': addItemForm.energyFor100.$invalid && addItemForm.energyFor100.$dirty}">

          <input name="energyFor100" type="number" class="form-control" placeholder="Energy for 100g" ng-model="item.energyFor100" required readonly>

          <div ng-messages="addItemForm.energyFor100.$error" ng-if='addItemForm.energyFor100.$dirty' class="error">
            <div ng-message="required" >Energy for 100g is required</div>
            <div ng-message="number" >A number is required</div>
          </div>

        </div>
      </div>

      <!--Category-->
      <div class="form-group category">
        <label class="col-sm-2 control-label">Category</label>

        <div class="col-sm-10" ng-class="{'has-error': addItemForm.category.$invalid && addItemForm.category.$dirty}">

          <select ng-model="item.category" ng-options="category for category in categories" class="form-control" required></select>

          <div ng-messages="addItemForm.category.$error" ng-if='addItemForm.category.$dirty' class="error">
            <div ng-message="required" >Category is required</div>
          </div>

        </div>
      </div>

      <!--Weight-->
      <div class="form-group weight">
        <label class="col-sm-2 control-label">Weight</label>

        <div class="col-sm-10" ng-class="{'has-error': addItemForm.weight.$invalid && addItemForm.weight.$dirty}">

          <input name="weight" type="number" class="form-control" placeholder="Weight" ng-model="item.weight" required>

          <div ng-messages="addItemForm.weight.$error" ng-if='addItemForm.weight.$dirty' class="error">
            <div ng-message="required" >Weight is required</div>
            <div ng-message="number" >A number is required</div>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div class="pull-right">
    <button type="button" class="btn btn-default" ng-click="back()">Cancel</button>
    <button validation-submit="addItemForm" type="submit" class="btn btn-primary" ng-click="ok()" ng-disabled="addItemForm.$invalid" >Save changes</button>
  </div>
</div>

